.error{
    text-align:center;
    color:#fff;
    font-size:16px;
    margin-top:20px;
}

body{
    background:#222;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.search{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:30px;
}

.search input{
    flex:1;
    height:60px;
    border:none;
    outline:none;
    background:#ebfffc;
    color:#555;
    border-radius:40px;
    padding:0 25px;
    font-size:18px;
    margin-right:15px;
}

.search button{
    width:60px;
    height:60px;
    border:none;
    outline:none;
    border-radius:50%;
    background:#ebfffc;
    cursor:pointer;

    display:flex;
    justify-content:center;
    align-items:center;
}

.search button img{
    width:22px;
    height:22px;
}

.card{
    width:90%;
    max-width:470px;
    background:linear-gradient(135deg,#00feba,#5b548a);
    color:white;
    margin:100px auto;
    padding:40px 35px;
    border-radius:20px;
    text-align:center;
}